* {
  margin: 0;
}

body {
  background-color: aliceblue;
  width: 100vw;
  margin-top: 16px;
}

.buttons {
  width: 300px;
  margin: 0 auto;
}
.buttons .conf {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.buttons .conf button {
  background-color: lightcyan;
  width: 100px;
  height: 60px;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}
.buttons .conf button:first-child {
  font-size: 12px;
}
.buttons .conf #changeColor {
  color: lightpink;
}
.buttons #timer {
  width: 100%;
  height: 60px;
  border: 2px solid dimgray;
  box-sizing: border-box;
  background-color: lightcyan;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  display: none;
}
.buttons #start {
  width: 100%;
  height: 60px;
  background-color: lightcyan;
  font-size: 24px;
}
.buttons .Random {
  font-weight: bold;
}

.container {
  position: relative;
  height: 316px;
  width: 300px;
  margin: 16px auto 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

#btn-1 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
}
#btn-1:active {
  box-shadow: none;
  top: calc(0px + 16px);
}

#btn-2 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 0px;
  left: 100px;
}
#btn-2:active {
  box-shadow: none;
  top: calc(0px + 16px);
}

#btn-3 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 0px;
  left: 200px;
}
#btn-3:active {
  box-shadow: none;
  top: calc(0px + 16px);
}

#btn-5 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 100px;
  left: 0px;
}
#btn-5:active {
  box-shadow: none;
  top: calc(100px + 16px);
}

#btn-6 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 100px;
  left: 100px;
}
#btn-6:active {
  box-shadow: none;
  top: calc(100px + 16px);
}

#btn-7 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 100px;
  left: 200px;
}
#btn-7:active {
  box-shadow: none;
  top: calc(100px + 16px);
}

#btn-9 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 200px;
  left: 0px;
}
#btn-9:active {
  box-shadow: none;
  top: calc(200px + 16px);
}

#btn-10 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 200px;
  left: 100px;
}
#btn-10:active {
  box-shadow: none;
  top: calc(200px + 16px);
}

#btn-11 {
  height: 100px;
  width: 100px;
  position: absolute;
  border: 2px solid dimgray;
  box-sizing: border-box;
  top: 200px;
  left: 200px;
}
#btn-11:active {
  box-shadow: none;
  top: calc(200px + 16px);
}

.sakura {
  background-color: lightpink;
  box-shadow: 0 16px lawngreen;
}

.green {
  background-color: lawngreen;
  box-shadow: 0 16px lightpink;
}

.white {
  background-color: white;
  box-shadow: 0 16px black;
}

.black {
  background-color: black;
  box-shadow: 0 16px white;
}

.howTow {
  width: 300px;
  height: 60px;
  display: block;
  margin: 16px auto 0;
  background-color: lightcyan;
  font-size: 24px;
}

#text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: none;
  background-color: lightcyan;
  font-size: 12px;
}

#text.active {
  display: block;
}

#hikarin {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
}
#hikarin p {
  height: 124px;
  font-family: Comic Sans MS;
  line-height: 124px;
  text-align: center;
  color: lightpink;
  font-size: 48px;
}
#hikarin img {
  width: 100%;
}
#hikarin .name {
  font-size: 12px;
  font-family: sans-serif;
  height: 16px;
  text-align: right;
  line-height: 16px;
  color: black;
}
